.contact {
  text-align: left;
}

.contact-form {
  margin-top: 30px;
}

.contact-input {
  padding: 5px 20px;
  height: 40px;
  border: 2px solid $color-input;
  width: 100%;
  color: $color-input;
  outline: none;
}

.contact-error {
  display: block;
  width: 100%;
  padding: 5px;
  color: $color-error;
  text-align: left;
  display: none;
}

.contact-textarea {
  padding: 5px 20px;
  height: 150px;
  border: 2px solid $color-input;
  width: 100%;
  color: $color-input;
}

.contact-item {
  margin-bottom: 20px;
}

.contact-button {
  display: block;
  background-color: $color-input;
  color: $color-white;
  padding: 10px 30px;
  margin: 0 auto;
  cursor: pointer;
}