.lifestyle {
  position: relative;
  &-map { 
    height: 450px;
    position: relative;

    &-inner {
      overflow: hidden;
      height: 100%;
      margin-top: 60px;

      img {
        width: 100%;
      }
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: -60px;
      left: 0;
      width: 640px;
      height: 60px;
      background-color: $color-yellow;
    }
  }

  &-content {
    padding: 30px 50px;
    margin: -70px 0 0 auto;
    width: 438px;
    position: relative;
    right: 40px;
    z-index: 1;
    background-color: $color-white;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-in-out,
                transform 0.8s ease-in-out 0.4s;

    .is-active & {
      opacity: 1;
      transform: translateY(0); 
    }
  }
}