<footer class="l-footer fotoer">
  <div class="l-container">
    <div class="l-footer-inner">
      <div class="footer-content">
        <h2 class="footer-title">The site</h2>
        <ul class="footer-list">
          <li class="footer-item">
            <a href="#" class="footer-link">Home</a>
          </li>
          <li class="footer-item">
            <a href="#" class="footer-link">Views</a>
          </li>
          <li class="footer-item">
            <a href="#" class="footer-link">Lifestyle</a>
          </li>
          <li class="footer-item">
            <a href="#" class="footer-link">Floorplans</a>
          </li>
          <li class="footer-item">
            <a href="#" class="footer-link">Team</a>
          </li>
          <li class="footer-item">
            <a href="#" class="footer-link">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="footer-content">
        <h2 class="footer-title">Ililani</h2>
        <ul class="footer-list">
          <li class="footer-item">
            <a href="#" class="footer-link">Team Member #1</a>
          </li>
          <li class="footer-item">
            <a href="#" class="footer-link">Team Member #2</a>
          </li>
          <li class="footer-item">
            <a href="#" class="footer-link">Team Member #3</a>
          </li>
          <li class="footer-item">
            <a href="#" class="footer-link">Team Member #4</a>
          </li>
        </ul>
      </div>
      <div class="footer-content">
        <h2 class="footer-title">Resources</h2>
        <ul class="footer-list">
          <li class="footer-item">
            <a href="#" class="footer-link">Privacy Policy</a>
          </li>
        </ul>
      </div>
      <div class="footer-content">
        <h2 class="footer-title">Social</h2>
        <ul class="footer-list footer-list-social">
          <li class="footer-item">
            <a href="#" class="footer-social footer-social-facebook">
              <img src="./assets/images/icon/icon-facebook.png" alt="">
            </a>
          </li>
          <li class="footer-item">
            <a href="#" class="footer-social footer-social-twitter">
              <img src="./assets/images/icon/icon-twitter.png" alt="">
            </a>
          </li>
          <li class="footer-item">
            <a href="#" class="footer-social footer-social-instagram">
              <img src="./assets/images/icon/icon-instagram.png" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>