<header class="l-header header">
  <div class="l-header-container l-container">
    <div class="l-header-inner">
      <div class="l-header-left">
        <a href="#" class="header-logo">
          <img src="./assets/images/logo.png">
        </a>
      </div>
      <div class="l-header-nav">
        <nav class="header-menu nav">
          <ul class="nav-list">
            <li class="nav-item">
              <a href="./view.html" class="nav-link">Views</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Lifestyle</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Floorplans</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Team</a>
            </li>
            <li class="nav-item">
              <a href="./contact.html" class="nav-link">Contact Us</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>