<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" prefix="og: http://ogp.me/ns#"><!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <title>PAGE TITLE</title>
  <% include view/_header %>
</head>
<body>
  <div class="l-wrap">
    <%- include('./view/layout/_l-header'); %>
    <main class="l-main l-index">
      <div class="hero hero-contact">
        <div class="hero-image" style="background-image: url('./assets/images/bg/hero-bg.jpg')"></div>
      </div>
      <div class="l-main-inner">
        <section class="l-section section section-center section-contact js-section">
          <div class="l-container l-container-section">
            <div class="l-section-inner">
              <h2 class="section-title">
                <span>Contact Us</span>
              </h2>
              <div class="l-container-contact-thanks">
                <div class="section-content">
                  <div class="section-content">
                    <p class="section-description">
                      We have received your message and would like to thank you for writing to us. If your inquiry is urgent, please use the telephone number listed below to talk to one of our staff members. Otherwise, we will reply by email as soon as possible.
                    </p>
                    <p class="section-description">
                      Have a great day!
                    </p>
                    <div class="button button-contact">
                      <a href="" class="button-link">
                        <span>Go To Homepage</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    <%- include('./view/layout/_l-footer'); %>
  </div>

<script src="assets/js/vendor.js"></script>
<script src="assets/js/app.js"></script>
</body>
</html>