<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" prefix="og: http://ogp.me/ns#"><!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <title>PAGE TITLE</title>
  <% include view/_header %>
</head>
<body>
  <div class="l-wrap">
    <%- include('./view/layout/_l-header'); %>
    <main class="l-main l-index">
      <div class="hero hero-contact">
        <div class="hero-image" style="background-image: url('./assets/images/bg/hero-bg.jpg')"></div>
      </div>
      <div class="l-main-inner">
        <section class="l-section section section-center section-contact js-section">
          <div class="l-container l-container-section">
            <div class="l-section-inner">
              <h2 class="section-title">
                <span>Contact Us</span>
              </h2>
              <div class="l-container-contact">
                <div class="section-content">
                  <p class="section-description">
                    We are here to answer any questions you may have about our Ililani Experience. <br>
                    React out to us and we’ss respond as soon as we can.
                  </p>
                  <div class="contact">
                    <form action="/" class="contact-form" id="js-contact-form">
                      <div class="row">
                        <div class="row-inner">
                          <div class="contact-item col-lg-6">
                            <input type="text" class="contact-input js-input-text" placeholder="First Name *">
                            <span class="contact-error js-input-empty">This field is required.</span>
                          </div>
                          <div class="contact-item col-lg-6">
                            <input type="text" class="contact-input js-input-text" placeholder="Last Name *">
                            <span class="contact-error js-input-empty">This field is required.</span>
                          </div>
                          <div class="contact-item col-lg-6">
                            <input type="email" class="contact-input js-input-text" placeholder="Email *">
                            <span class="contact-error js-input-empty">This field is required.</span>
                            <span class="contact-error js-email-format">Email is in wrong format.</span>
                          </div>
                          <div class="contact-item col-lg-6">
                            <input type="tel" class="contact-input js-input-phone" placeholder="Phone">
                            <span class="contact-error js-input-empty">This field is required.</span>
                          </div>
                          <div class="contact-item col-lg-12">
                            <input type="text" class="contact-input js-input-text" placeholder="Subject">
                            <span class="contact-error js-input-empty">This field is required.</span>
                          </div>
                          <div class="contact-item col-lg-12">
                            <textarea  cols="30" rows="10" placeholder="Message" class="contact-textarea js-input-text"></textarea>
                            <span class="contact-error js-input-empty">This field is required.</span>
                          </div>
                        </div>
                        <button class="contact-button"> Submit </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    <%- include('./view/layout/_l-footer'); %>
  </div>

<script src="assets/js/vendor.js"></script>
<script src="assets/js/app.js"></script>
<script src="assets/js/contact.js"></script>
</body>
</html>