<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" prefix="og: http://ogp.me/ns#"><!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <title>PAGE TITLE</title>
  <% include view/_header %>
</head>
<body>
  <div class="l-wrap">
    <%- include('./view/layout/_l-header'); %>
    <main class="l-main l-index">
      <div class="hero">
        <div class="hero-image" style="background-image: url('./assets/images/bg/hero-bg.jpg')"></div>
        <div class="l-container l-container-hero-content">
          <div class="hero-content">
            <h1 class="hero-title">A NEW URBAN LIVING CONCEPT</h1>
            <p class="hero-sub">
              1 - 3 BEDROOM <br>
              CONDOS & TOWNHOMES
            </p>
            <p class="hero-sub">
              STARTING IN THE $400K’S
            </p>
            <p class="hero-description">
              Located in the heart of Kaka'ako, Ililani presents one, two and three-bedroom condominiums and townhomes that afford the contemporary urban living. With spacious floor plans, top-of-the-line energy efficient appliances, exquisite finishes and endless views, you can truly live the urban cosmopolitan lifestyle.
            </p>
          </div>
        </div>
      </div>
      <div class="l-main-inner">
        <section class="l-section section section-center js-section">
          <div class="l-container l-container-section">
            <div class="l-section-inner">
              <h2 class="section-title">
                <span>About the Project</span>
              </h2>
              <div class="section-content">
                <p class="section-description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis quam tincidunt, faucittons mauris accumsan, finibus justo. Donec eget ante velit. Proin aliquam tortor a nisl feugiat, ac maximus orci condimentum. Sed mattis finibus feugiat. Aliquam convallis nisi sed nunc congue, ut tempus diam efficitur. Pellentesque vestibulum libero risus, non tristique leo auctor non. Aenean sem libero, molestie sit amet accumsan maximus, luctus ac diam. Fusce sem felis, tincidunt ac velit eget, sollicitudin posuere tortor. Mauris et massa ac turpis commodo cursus porta sed est. Integer id odio enim. Fusce faucibus odio sed magna mollis malesuada. In lectus diam, commodo elementum varius ac, vehicula at lectus. Fusce malesuada dolor quis neque lacinia laoreet. Nulla sit amet dui sapien. In sed orci iaculis, semper magna in, congue quam.
                </p>
                <p class="section-description">
                  Aliquam erat volutpat. Suspendisse facilisis urna tortor, id placerat sapien ullamcorper nec. Aliquam at vehicula elit, ut tristique erat. Etiam iaculis in ipsum eget pharetra. In mi nisi, convallis vitae urna id, mollis cursus ligula. Integer dapibus ligula vel tincidunt lobortis. Nullam ac neque tincidunt, consectetur massa sed, ultrices ligula. Aenean eget elit ut odio tempus tempor.
                </p>
              </div>
            </div>
          </div>
        </section>
        <section class="l-section l-section-view js-section">
          <div class="l-container l-container-section">
            <div class="l-section-inner">
              <div class="row">
                <div class="row-inner">
                  <div class="section-content col-lg-5">
                    <h2 class="section-title section-title-small">
                      <span>Views</span>
                    </h2>
                    <p class="section-description">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis quam tincidunt, faucibus mauris accumsan, finibus justo. Donec eget ante velit. Proin aliquam tortor a nisl feugiat, ac maximus orci condimentum. Sed mattis finibus feugiat. Aliquam convallis nisi sed nunc congue, ut tempus diam efficitur. Pellentesque vestibulum libero risus, non tristique leo auctor non. Aenean sem libero, molestie sit amet accumsan maximus, luctus ac diam.
                    </p>
                    <div class="button button-right">
                      <a href="" class="button-link">
                        <span>Learn More</span>
                      </a>
                    </div>
                  </div>
                  <div class="section-image col-lg-7">
                    <img src="http://ililani.wpengine.com/wp-content/uploads/2018/10/condo-townhome-views.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="l-section l-section-lifestyle section lifestyle js-section">
          <div class="l-container">
            <div class="lifestyle-map">
              <div class="lifestyle-map-inner">
                <img src="./assets/images/bg/map.png" alt="">
              </div>
            </div>
            <div class="lifestyle-content">
              <h2 class="section-title section-title-small">
                <span>Lifestyle</span>
              </h2>
              <p class="section-description">
                Aliquam erat volutpat. Suspendisse facilisis urna tortor, id placerat sapien ullamcorper nec. Aliquam at vehicula elit, ut tristique erat. Etiam iaculis in ipsum eget pharetra. In mi nisi, convallis vitae urna id, mollis cursus ligula. Integer dapibus ligula vel tincidunt lobortis. Nullam ac neque tincidunt, consectetur massa sed, ultrices ligula. Aenean eget elit ut odio tempus tempor. Aliquam at vehicula elit, ut tristique erat. Etiam iaculis in ipsum eget pharetra. In mi nisi, convallis vitae urna id, mollis cursus ligula. Integer dapibus ligula vel tincidunt lobortis. 
              </p>
              <div class="button button-right">
                <a href="" class="button-link">
                  <span>Learn More</span>
                </a>
              </div>
            </div>
          </div>
        </section>
        <section class="l-section l-section-floorplan js-section">
          <div class="l-container l-container-section">
            <div class="l-section-inner">
              <div class="row">
                <div class="row-inner">
                  <div class="section-slider col-lg-7">
                    <ul class="section-slider-inner" id="js-section-slider">
                      <li class="section-slider-item">
                        <div class="section-slider-img" style="background-image: url(http://ililani.wpengine.com/wp-content/uploads/2018/10/floorplans.jpg)"></div>
                      </li>
                      <li class="section-slider-item">
                        <div class="section-slider-img" style="background-image: url(http://ililani.wpengine.com/wp-content/uploads/2018/10/floorplans.jpg)"></div>
                      </li>
                      <li class="section-slider-item">
                        <div class="section-slider-img" style="background-image: url(http://ililani.wpengine.com/wp-content/uploads/2018/10/floorplans.jpg)"></div>
                      </li>
                    </ul>
                    <div class="section-slider-pagination">
                      <button class="section-slider-button section-slider-button-prev" id="js-slider-prev"></button>
                      <button class="section-slider-button" id="js-slider-next"></button>
                    </div>
                  </div>
                  <div class="section-content col-lg-5">
                    <h2 class="section-title section-title-small">
                      <span>Floorplan</span>
                    </h2>
                    <p class="section-description">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis quam tincidunt, faucibus mauris accumsan, finibus justo. Donec eget ante velit. Proin aliquam tortor a nisl feugiat, ac maximus orci condimentum. Sed mattis finibus feugiat. Aliquam convallis nisi sed nunc congue, ut tempus diam efficitur. Pellentesque vestibulum libero risus, non tristique leo auctor non. Aenean sem libero, molestie sit amet accumsan maximus, luctus ac diam.
                    </p>
                    <div class="button button-right">
                      <a href="" class="button-link">
                        <span>Learn More</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="l-section l-section-view js-section">
          <div class="l-container l-container-section">
            <div class="l-section-inner">
              <div class="row">
                <div class="row-inner">
                  <div class="section-content col-lg-5">
                    <h2 class="section-title section-title-small">
                      <span>Teams</span>
                    </h2>
                    <p class="section-description">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis quam tincidunt, faucibus mauris accumsan, finibus justo. Donec eget ante velit. Proin aliquam tortor a nisl feugiat, ac maximus orci condimentum. Sed mattis finibus feugiat. Aliquam convallis nisi sed nunc congue, ut tempus diam efficitur. Pellentesque vestibulum libero risus, non tristique leo auctor non. Aenean sem libero, molestie sit amet accumsan maximus, luctus ac diam.
                    </p>
                    <div class="button button-right">
                      <a href="" class="button-link">
                        <span>Learn More</span>
                      </a>
                    </div>
                  </div>
                  <div class="section-team col-lg-7">
                    <ul class="section-team-list">
                      <li class="section-team-item">
                        <div class="section-team-container">
                          <div class="section-team-img">
                            <img src="./assets/images/logo/logo-2.png">
                          </div>
                        </div>
                      </li>
                      <li class="section-team-item">
                        <div class="section-team-img">
                          <img src="./assets/images/logo/logo-4.png">
                        </div>
                      </li>
                      <li class="section-team-item">
                        <div class="section-team-img">
                          <img src="./assets/images/logo/logo-1.png">
                        </div>
                      </li>
                      <li class="section-team-item">
                        <div class="section-team-img">
                          <img src="./assets/images/logo/logo-3.png">
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="l-section l-section-view section section-center js-section">
          <div class="l-container l-container-section">
            <div class="l-section-inner">
              <h2 class="section-title">
                <span>Contact Us</span>
              </h2>
              <div class="contact">
                <form action="/" class="contact-form">
                  <div class="row">
                    <div class="row-inner">
                      <div class="contact-item col-lg-6">
                        <input type="text" class="contact-input" placeholder="First Name">
                      </div>
                      <div class="contact-item col-lg-6">
                        <input type="text" class="contact-input" placeholder="Last Name">
                      </div>
                      <div class="contact-item col-lg-6">
                        <input type="email" class="contact-input" placeholder="Email">
                      </div>
                      <div class="contact-item col-lg-6">
                        <input type="tel" class="contact-input" placeholder="Phone">
                      </div>
                      <div class="contact-item col-lg-12">
                        <input type="text" class="contact-input" placeholder="Subject">
                      </div>
                      <div class="contact-item col-lg-12">
                        <textarea  cols="30" rows="10" placeholder="Message" class="contact-textarea"></textarea>
                      </div>
                    </div>
                    <button class="contact-button"> Submit </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    <%- include('./view/layout/_l-footer'); %>
  </div>

<script src="assets/js/vendor.js"></script>
<script src="assets/js/app.js"></script>
<script src="assets/js/index.js"></script>
</body>
</html>