<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" prefix="og: http://ogp.me/ns#"><!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <title>PAGE TITLE</title>
  <% include view/_header %>
</head>
<body>
  <div class="l-wrap">
    <%- include('./view/layout/_l-header'); %>
    <main class="l-main l-index">
      <div class="hero hero-contact">
        <div class="hero-image" style="background-image: url('./assets/images/bg/hero-bg.jpg')"></div>
      </div>
      <div class="l-main-inner">
        <section class="l-section section section-center section-contact js-section">
          <div class="l-container l-container-section">
            <div class="l-section-inner">
              <h2 class="section-title section-title-small">
                <span>Team</span>
              </h2>
              <div class="l-container-team">
                <div class="team">
                  <div class="team-content">
                    <div class="team-content-inner js-team-content" id="js-team-content-1">
                      <h2 class="team-name">Real State Company Slogan</h2>
                      <p class="team-description">Mary Philpotts McGrath began Philpotts Interiors from a storefront in downtown Honolulu in the 1960s. Her goal was to give the new buildings that were springing up everywhere in the city "a sense of place."</p>
                      <p class="team-description">Today our principal designers, Marion Philpotts Miller and Jonathan Staub, infuse fresh, modern energy into our work, and look beyond Hawai'i to the mainland U.S., Asia and the Pacific for their projects. Our firm has grown to include work in the San Francisco Bay Area, Southern California and Colorado.</p>
                      <p class="team-description">Philpotts Interiors' multifaceted approach is evident in the recent update of the Royal Hawaiian Hotel and the new Aulani Disney Resort at Ko Olina. Each location has a story to tell. We tell it in our designs for the Hawai'i Convention Center, and even the green renovation of our own offices.</p>
                    </div>
                    <div class="team-content-inner js-team-content" id="js-team-content-2">
                      <h2 class="team-name">Live Property Solutions</h2>
                      <p class="team-description">Mary Philpotts McGrath began Philpotts Interiors from a storefront in downtown Honolulu in the 1960s. Her goal was to give the new buildings that were springing up everywhere in the city "a sense of place."</p>
                      <p class="team-description">Today our principal designers, Marion Philpotts Miller and Jonathan Staub, infuse fresh, modern energy into our work, and look beyond Hawai'i to the mainland U.S., Asia and the Pacific for their projects. Our firm has grown to include work in the San Francisco Bay Area, Southern California and Colorado.</p>
                      <p class="team-description">Philpotts Interiors' multifaceted approach is evident in the recent update of the Royal Hawaiian Hotel and the new Aulani Disney Resort at Ko Olina. Each location has a story to tell. We tell it in our designs for the Hawai'i Convention Center, and even the green renovation of our own offices.</p>
                    </div>
                    <div class="team-content-inner js-team-content" id="js-team-content-3">
                      <h2 class="team-name">Real Estate Developer Index (REDI)</h2>
                      <p class="team-description">Mary Philpotts McGrath began Philpotts Interiors from a storefront in downtown Honolulu in the 1960s. Her goal was to give the new buildings that were springing up everywhere in the city "a sense of place."</p>
                      <p class="team-description">Today our principal designers, Marion Philpotts Miller and Jonathan Staub, infuse fresh, modern energy into our work, and look beyond Hawai'i to the mainland U.S., Asia and the Pacific for their projects. Our firm has grown to include work in the San Francisco Bay Area, Southern California and Colorado.</p>
                      <p class="team-description">Philpotts Interiors' multifaceted approach is evident in the recent update of the Royal Hawaiian Hotel and the new Aulani Disney Resort at Ko Olina. Each location has a story to tell. We tell it in our designs for the Hawai'i Convention Center, and even the green renovation of our own offices.</p>
                    </div>
                    <div class="team-content-inner js-team-content" id="js-team-content-4">
                      <h2 class="team-name">Vision West</h2>
                      <p class="team-description">Mary Philpotts McGrath began Philpotts Interiors from a storefront in downtown Honolulu in the 1960s. Her goal was to give the new buildings that were springing up everywhere in the city "a sense of place."</p>
                      <p class="team-description">Today our principal designers, Marion Philpotts Miller and Jonathan Staub, infuse fresh, modern energy into our work, and look beyond Hawai'i to the mainland U.S., Asia and the Pacific for their projects. Our firm has grown to include work in the San Francisco Bay Area, Southern California and Colorado.</p>
                      <p class="team-description">Philpotts Interiors' multifaceted approach is evident in the recent update of the Royal Hawaiian Hotel and the new Aulani Disney Resort at Ko Olina. Each location has a story to tell. We tell it in our designs for the Hawai'i Convention Center, and even the green renovation of our own offices.</p>
                    </div>
                  </div>
                  <div class="team-img">
                    <div class="team-list">
                      <ul>
                        <li>
                          <a class="js-team-link" href="#js-team-content-1">
                            <img src="./assets/images/logo/logo-1.png">
                          </a>
                        </li>
                        <li>
                          <a class="js-team-link" href="#js-team-content-2">
                            <img src="./assets/images/logo/logo-2.png">
                          </a>
                        </li>
                        <li>
                          <a class="js-team-link" href="#js-team-content-3">
                            <img src="./assets/images/logo/logo-3.png">
                          </a>
                        </li>
                        <li>
                          <a class="js-team-link" href="#js-team-content-4">
                            <img src="./assets/images/logo/logo-4.png">
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    <%- include('./view/layout/_l-footer'); %>
  </div>

<script src="assets/js/vendor.js"></script>
<script src="assets/js/app.js"></script>
<script src="assets/js/team.js"></script>
</body>
</html>